body {background-color: lightgreen;
     text-align: center;
     padding: 40px;
     font-family: Arial, Sans-serif;
     display: flex;
     flex-direction: column
     aligb-items: center;
     justify-content: center;}
h1 {color: blue;}
h1 {margin-bottom: 40px;
   width: 300px;
   height:80px}
P {font-size: 30px;
  border:2px solid black;
  border-radius: 10px}
h2 {color: darkred;
   font-family: 20px;
   padding: 10px;
   border:2px solid white;
   border-radius: 10px;}
.about 
{background-color: green;
 padding: 30px;
 border-radius: 10px;}
nav {display: flex;
     gap: 30px;
     Justify-content: center;}
nav a {
     color: red;
     text-decoration: none;
     font-size: 12px;}
nav a:hover{ color:blue;}
header { Backgroun-color: purple;
        padding: 30px;
        margin-bottom: 40px;}
