body {background-color: lightgreen;
     text-align: center;
     padding: 40px;
     font-family: Arial, Sans-serif;
     display: flex;
     flex-direction: column
     aligb-items: center;
     justify-content: center;}
h1 {color: blue;}
h1 {margin-bottom: 90px;
   width: 300px;
   height:80px}
P {font-size: 40px;
  border: 10px solid black;
  border-radius: 60px}
h2 {color: darkgreen;
   font-family: 35px;
   padding: 10px;
   border:8px solid red;
   border-radius: 10px;}
.about 
{background-color: blue;
 padding: 30px;
 border-radius: 10px;}
nav {display: flex;
     gap: 30px;
     Justify-content: center;}
nav a {
     color: White;
     text-decoration: none;
     font-size: 12px;}
nav a:hover{ color:blue;}
